In [1]:
import pandas as pd

In [5]:
weather_data = {
'day':['1/2','3/4','5/6'],
    'day2':['2','3','6']
 
}
df=pd.DataFrame(weather_data)
df

   day day2
0  1/2    2
1  3/4    3
2  5/6    6

In [9]:
df.day2

0    2
1    3
2    6
Name: day2, dtype: object

In [41]:
df['day'][df.day2==df['day2'].max()]

2    5/6
Name: day, dtype: object

In [43]:
df

   day day2
0  1/2    2
1  3/4    3
2  5/6    6

In [55]:

df.reset_index(inplace=True)
df

   index  day day2
0      0  1/2    2
1      1  3/4    3
2      2  5/6    6

In [57]:
df.set_index('day',inplace=True)
df

     index day2
day
1/2      0    2
3/4      1    3
5/6      2    6

In [61]:
df.reset_index(inplace=True)
df

   level_0  day  index day2
0        0  1/2      0    2
1        1  3/4      1    3
2        2  5/6      2    6