In [7]:
a=2
b=3
c=complex(a,b)
print(c)

(2+3j)

In [9]:
import pandas as pd

In [17]:
abid={
    'name':['riad','masum','nitesh'],
'olld':['4','7','9'],
'limon':['23','33','25']
            }

df=pd.DataFrame(abid)
df

     name olld limon
0    riad    4    23
1   masum    7    33
2  nitesh    9    25

In [23]:
df.shape

(3, 3)

In [25]:
df.columns

Index(['name', 'olld', 'limon'], dtype='object')

In [43]:
df.olld.describe()

count     3
unique    3
top       4
freq      1
Name: olld, dtype: object