In [1]:
a=2
b=3
c=complex(a,b)
print(c)

(2+3j)

In [5]:
pwd

'C:\\Users\\User\\Documents\\Python data science'

In [3]:
import pandas as pd

In [15]:
df=pd.read_csv('practice.csv')

In [17]:
df

   dd  fgfg hggh  ghgh
0  56   7.0   hj     8
1   9   9.0    9    97
2   6   NaN    9     3

In [7]:
compulsory = {
    'dayL':['dd','yy','rt'],
    '43'
}

In [23]:
df.shape

(3, 3)

In [27]:
rows,columns=df.shape
columns

3

In [31]:
df.head(1)

   day nobil   wer
0  dss  sdsd  eeer

In [71]:
df.columns

Index(['day', 'nobil', 'wer'], dtype='object')

In [61]:
df.nobil

0    1
1    2
2    3
Name: nobil, dtype: object

In [69]:
df

   day nobil     wer
0  dss     1    eeer
1  sdd     2   werwe
2  sdd     3  errewr

In [67]:
df[['day','nobil']]

   day nobil
0  dss     1
1  sdd     2
2  sdd     3

In [75]:
df.nobil.max()

'3'

In [79]:
df.describe()

        day nobil   wer
count     3     3     3
unique    2     3     3
top     sdd     1  eeer
freq      2     1     1

In [111]:
df

   day nobil     wer
0  dss     1    eeer
1  sdd     2   werwe
2  sdd     3  errewr

In [115]:
df[df.nobil.max()]

KeyError: '3'