In [5]:
pwd

'C:\\Users\\User\\Documents\\Python data science'

In [9]:
import pandas as pb

In [23]:
df=pb.read_csv('data_time.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow

In [45]:
df=pb.read_excel('data_time.xlsx','Sheet1')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  sunny
2 2017-01-03           28          2   snow

In [53]:
data_time={
    'day':['1/1/2017','2/1/2017','3/1/2017'],
    'temperature':['32','35','28'],
    'windspeed':['6','7','2'],
    'Event':['rain','sunny','snow',]
}
df=pb.DataFrame(data_time)
df

        day temperature windspeed  Event
0  1/1/2017          32         6   rain
1  2/1/2017          35         7  sunny
2  3/1/2017          28         2   snow

In [57]:
import pandas as pb

In [59]:
data_time=[
    ('1/1/2017','32','6','rain'),
    ('2/1/2017','35','7','sunny'),
   ('3/1/2017','28','2','snow')
 
]
df=pb.DataFrame(data_time,columns=['day','temperature','windspeed','event'])
df

        day temperature windspeed  event
0  1/1/2017          32         6   rain
1  2/1/2017          35         7  sunny
2  3/1/2017          28         2   snow

In [ ]:
import pandas as pb

In [69]:
virtual=[
('2/1/14','bangladesh','southern country'),
    ('121','2112','2112')
]

In [71]:
df=pb.DataFrame(virtual,columns=['date','coujtry','part'])
df

     date     coujtry              part
0  2/1/14  bangladesh  southern country
1     121        2112              2112